body {
    padding-top: 3.5rem;
}

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
    border-right: 1px solid #eee;
}

.sidebar {
    padding-left: 0;
    padding-right: 0;
}

.sidebar .nav-item {
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
}

h4 {
    margin-bottom: 20px;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
}

/* #navbarCollapse {
    display: none;
} */

@media screen and (min-width: 992px) {
    .navbar-dark .navbar-nav .nav-link {
        display: none;
    }
}