.typeahead {
    margin-top: 2px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: white;
    border: 1px solid #CCC;
}

.typeahead li {
    line-height: 20px;
}

.typeahead a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    text-decoration: none;
}

.typeahead .active > a {
    color: white;
    text-decoration: none;
    background-color: #0081C2;
    outline: 0;
}

.typeahead.hidden {
    display: none;
}