
/*-----------------------------------*/
/* Global Reset */
/*-----------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body {
    height: 100%;
}

.container {
    position: absolute;
    width: calc(100% - 235px);
    top: 0;
    right: 0;
    margin-top: 90px;
}




.card-title--contato {
    margin-top: 10px;
}


.usuario {
    display: inline-block;
    font-size: 13px;
    font-weight: 300;
}

.card {
    margin-bottom: 45px;
}

.tab-custom > .nav-tabs > li {
    margin-right: 2px;

    .nav-tabs > li > a {
        line-height: 1.4285;
        border: 1px solid transparent;
    }


}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    border-top: 3px solid #1BBC9B;
    margin-top:0px;
    position: relative;
}

.tabbable-custom > .nav-tabs > li.active > a:hover {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    border-top: none;
    background: #fff;
    border-color: #d4d4d4 #d4d4d4 transparent; }

.nav > li > a {padding: 10px 15px;}

.nav > li, .nav > li > a {
    display: block;
    position: relative;
}

a {
    text-shadow: none;
    color: #337ab7;
    text-decoration: none;
    background: transparent;
}

a:hover {
    text-decoration: none;
}


body{background: #fafaf6;}
.bg-pink {background-color: #ec5591 }
a {color: #191919;}
a:hover, a:focus {color: #ec5591; text-decoration: none;}
a:active {background-color: transparent;}

ul {list-style: none;}

::selection {
    background: #ccc;
    color: #333;
    text-shadow: none;
}

/*-----------------------------------*/
/* BUTTONS */
/*-----------------------------------*/

.buttons {
    margin-top: 300px;
}

.btn {
    display: inline-block;
    position: relative;
    padding: 0;
    border: none;
    box-shadow: none !important;
}

.btn span,
.btn input {
    display:block;
    height: 31px;
    line-height: 31px;
    background:#ee5190;
    border-radius:0;
    border:none;
    font-size: 14px;
    color: #fff;
    font-weight: 300;
    padding:0 14px;
    opacity: 1;
    transition: all .15s ease;
}

.btn:hover span,
.btn:hover input {
    opacity: .84;
    color: #fff;
}



.btn:active span,
.btn:active input {
    background: #fff;
    color:#ec5490;
    border-color: #fff;
}

/* Botões Tamanho */
.btn-middle span, .btn-middle input{height: 31px; line-height: 31px;font-size: 14px;padding: 0 20px;}
.btn-small span, .btn-small input{height: 30px; line-height: 28px;font-size: 14px;padding: 0 16px;}
.btn-large span, .btn-large input{height: 47px; line-height: 46px; font-size: 14px; padding: 0 22px;}
.btn-round span, .btn-round input {border-radius: 25px;}

/* Botões Cores */

/* Verde */
.btn-green span,
.btn-green input{background: #c1ca00;}

/* Azul */
.btn-blue span,
.btn-blue input{background: #0cc3d9;}



/*-----------------------------------*/
/* PAINEL */
/*-----------------------------------*/

.panel {
    background: #fff;
    margin-bottom: 65px;
    position: relative;
    z-index: 0;
}

.panel > .inner {padding: 22px 24px 22px;}


/*-----------------------------------*/
/* TABS */
/*-----------------------------------*/

.tabs-framed {margin-bottom:50px;}

.tabs {
    position: relative;
    top: 1px;
    z-index: 1;
}
.tabs li{
	float: left;
  position: relative;
  border-bottom: none;
  margin-right:2px;
  background:#f4f4f4;
}
.tabs li.active{
  background: #fff;
  margin-top: -8px;
  border-top:4px solid #f46ca1;
}
.tabs li a{
  display: block;
  height: 39px;
  line-height: 39px;
  font-size: 15px;
  color:#949494;
  padding: 0 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tabs li.active a{
  height: 44px;
  line-height: 46px;
  font-size: 17px;
	color:#ee5190;
}

.tab-content.panel {border-top-left-radius: 0;margin-bottom: 0;}

.tab-content {overflow: visible;padding: 28px 24px 20px;}

.sidebar-categories li a {
    display: block;
    padding: 10px 30px 14px 0;
    line-height: 17px;
    color: #191919;
    text-shadow: 0 2px 0 #fff;
    text-transform: uppercase;
}

.sidebar {width: 240px;height: 100vh;z-index:1030;background: #fff;}

.sidebar ul {margin-top: 80px;}

.sidebar-categories li a i { margin-right: 5px;}
.sidebar-categories li:hover a, .sidebar-categories li.current-sidebar-link a {color: #e7367e;}

