#sidebar {
    width: 232px;
    height: 100vh;
    background: #292929;
    z-index: 1030;
    color: #fff;
    
    ul {
        margin-top: 10px;
    }

    ul > li {
        display: block;

        a {
            color: #fff;
            font-size: 1.228em;
            text-decoration: none;
            margin-left: 5px;

            i {
                margin-right: 10px;
            }
        }

        a:hover {
            color: #292929;
            background-color: #fff;
            text-decoration: none;
        }
    }
    
}
