$bg-color: #000;
$bg-secondary-color: #f5f5f5;
$font-color: #fff;
$primary-color: #FFC36A;
$landing-icon-size: 30px;
$dark-overlay: rgba(250, 199, 195, 0.5);
// $dark-overlay: rgba(0, 0, 0, 0.7);
body {
    background: $bg-color;
    color: $font-color;
}

.navbar {
    border-bottom: $primary-color 3px solid; // background-color: #348A7D; // background-color: #EE7D7F;
    // background-color: #5474A5;
    background-color: #8E2F35;
    a {
        color: #fff;
    }
}

#home-section {
    background: url("/img/background.jpg") no-repeat top fixed;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    .dark-overlay {
        background: radial-gradient(circle, rgba(0, 0, 0, 0.5), $dark-overlay);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: table;
    }
    .home-inner {
        padding-top: 50px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        .hero-subtitle {
            color: #fff;
        }
        h1 {
            font-family: 'Raleway', sans-serif;
        }
        h1 span {
            color: #FFC36A;
        }
    }
}

#loginModal {
    color: #292929;
}

#navbarAlt {
    margin-right: 0;
}

@media(max-width:576px) {
    nav .container {
        width: 100%;
    }
}